#miviewer-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
}

#top-bar {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    /* 让元素之间的空间平均分布 */
    align-items: center;
    /* 让元素在垂直方向上居中 */
}

#browsing-progress {
    position: relative;
    transform: translate(30%, 0);
    margin: auto;
    height: 100%;
    font-size: 3.5em;
}

#close-miviewer {
    height: 70%;
    object-fit: cover;
    cursor: pointer;
}

#mid-bar {
    height: 80%;

    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 100%;
}

#left-column,
#right-column {
    position: relative;
}

#angle-left,
#angle-right {
    position: absolute;
    top: 50%;
    left: 50%;
    /* 图像或视频的宽度为容器的宽度 */
    max-width: 70%;
    /* 图像或视频的高度为容器的高度 */
    max-height: 70%;
    transform: translate(-50%, -50%);

    /* 图像或视频保持其原始纵横比，完全适应容器，可能有留白 */
    object-fit: contain;

    cursor: pointer;
}

#showcase {
    position: relative;
}

#btm-bar {
    width: 100%;
    height: 10%;
}

#showcase>img,
#showcase>video {
    position: absolute;
    top: 50%;
    left: 50%;
    /* 图像或视频的宽度为容器的宽度 */
    max-width: 100%;
    /* 图像或视频的高度为容器的高度 */
    max-height: 100%;
    transform: translate(-50%, -50%);

    /* 图像或视频保持其原始纵横比，完全适应容器，可能有留白 */
    object-fit: contain;
}